*{
	cursor: none;
}
body {
	background-image: url('https://fluteguy.github.io/guy.gif');
	background-position: center top;
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #24280d;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

